.cover_picture{
    width: 90vw;
    height: 30vh;
}

.container{
    align-items: center;
    justify-items: center;
    text-align: center;
}

.profile_picture {
    border-radius: 500%;
    width: 20px;
    height: 20px;
}