.table-container {
    background: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(211, 211, 211);
    margin: 20px;
    box-shadow: 0 4px 8px rgba(138, 43, 226, 0.1);

}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    box-sizing: border-box;
    align-items: center;
    color: #0b0b29;

}

.table-wrapper {
    width: 100%;
    overflow: auto;
    height: 400px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    text-align: left;
    color: #0b0b29;
}

.table th {
    font-size: 12px;
    color: #0b0b29;

}

.tbody{
    color: #0b0b29;

}

.table tr {
    border-top: 1px solid rgb(211, 211, 211);
}

.table td,
.table th {
    padding: 10px;
}

.table tr td:nth-of-type(1) {
    font-weight: bold;
}

.table tr td:not(:nth-of-type(1)) {
    color: gray;
}

.table tr td span {
    display: inline-block;

}

.table tr td span:nth-of-type(1)>svg {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.table tr th span:nth-of-type(2) {
    position: relative;
    top: 2px;
}

/* Existing styles */

.table-container {
    position: relative;
}

.table-fixed-header {
    position: sticky;
    top: 0;
    background-color: white;
    /* z-index: 1; */
}

/* Additional styles for fixed table header */
.fixed-header-wrapper {
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 400px;
    background-color: white;
    /* z-index: 2; */
}